doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'
        default_table_options:
            charset: utf8mb4
            collate: utf8mb4_unicode_ci


        types:
            phone_number: Misd\PhoneNumberBundle\Doctrine\DBAL\Types\PhoneNumberType
            point: App\Doctrine\Types\PointType

    orm:
        auto_generate_proxy_classes: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            App:
                is_bundle: false
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App
        dql:
            string_functions:
                ST_Distance_Sphere: App\Doctrine\Functions\StDistanceSphere
                POINT: App\Doctrine\Functions\PointFunction
                MBRContains: App\Doctrine\Functions\MBRContains
                ST_MakeEnvelope: App\Doctrine\Functions\STMakeEnvelope
