doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'
        server_version: '8.0'
        default_table_options:
            charset: utf8mb4
            collate: utf8mb4_unicode_ci
        mapping_types:
            point: point
        types:
            phone_number: Misd\PhoneNumberBundle\Doctrine\DBAL\Types\PhoneNumberType
            point: App\Doctrine\Types\PointType
        wrapper_class: App\Doctrine\PointWrapper
    orm:
        auto_generate_proxy_classes: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            App:
                is_bundle: false
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App
        dql:
            string_functions:
                ST_Distance_Sphere: App\Doctrine\Functions\StDistanceSphere
                POINT: App\Doctrine\Functions\PointFunction
                MBRContains: App\Doctrine\Functions\MBRContains
                ST_MakeEnvelope: App\Doctrine\Functions\STMakeEnvelope
                REPLACE: App\Doctrine\Functions\ReplaceFunction
            numeric_functions:
                ACOS: App\Doctrine\Functions\Acos
                COS: App\Doctrine\Functions\Cos
                SIN: App\Doctrine\Functions\Sin
                RADIANS: App\Doctrine\Functions\Radians
