
###> symfony/framework-bundle ###
/docs
!/docs/index.html
/.env.local
.env.local.php
.env.local.bk
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

.DS_Store
.composer.phar.icloud

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

test_db.sqlite

public/Porteurs_CPS_CPF_202309011021.zip
public/ExtractionMonoTable_CAT18_ToutePopulation_202307251217 (1).zip
.idea
###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

*.sql