body {
    background-image: url("/images/instamed-background.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;

}

h1 {
   color: #15a3b8;
   margin-bottom: 40px;
}

.container {
    margin: 10em;
    padding-right: 40%;
}

#morningDoctor {
    position: absolute;
    top: 35px;
    right: 300px;
    font-size: 1.2em;
    color: #71e4c4;
}

.img-rounded {
    right: 200px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 25px;
}

.formInput, label {
    margin: 1em;
    outline: none;
}

input:focus {
    outline: none !important;
}

input:focus {
    border: solid 1px grey;
    box-shadow: 0px 0px 3px #4fa38b;
}

.btn {
    display: block;
    margin: 40px;
    margin-left: 150px;
}

#doctorInfos {
    margin: auto;
    width: 70%;
}

#presentation, #numbers {
    display: flex;
    flex-direction: row;
    
}

#firstname, #lastname, #rpps, #cps  {
    margin: 10px;
}

#rpps-error-hidden {
    display: none;
}

#result {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 200px;
}

.divInformations {
    padding: 1.5em;
    margin: 2em;

}

.card {
    width: 500px;
}