# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    env(RPPS_URL): 'https://service.annuaire.sante.fr/annuaire-sante-webservices/V300/services/extraction/ExtractionMonoTable_CAT18_ToutePopulation'
    env(CPS_URL): 'https://service.annuaire.sante.fr/annuaire-sante-webservices/V300/services/extraction/Porteurs_CPS_CPF'
    env(DRUGS_URL_CIS_BDPM): 'http://base-donnees-publique.medicaments.gouv.fr/telechargement.php?fichier=CIS_bdpm.txt'
    env(DRUGS_URL_CIS_CIP_BDPM): 'http://base-donnees-publique.medicaments.gouv.fr/telechargement.php?fichier=CIS_CIP_bdpm.txt'
    env(DRUGS_URL_CIS_CPD_BDPM): 'http://base-donnees-publique.medicaments.gouv.fr/telechargement.php?fichier=CIS_CPD_bdpm.txt'
    env(DRUGS_URL_CIS_GENER_BDPM): 'http://base-donnees-publique.medicaments.gouv.fr/telechargement.php?fichier=CIS_GENER_bdpm.txt'
    env(DRUGS_URL_CIS_InfoImportantes): 'http://base-donnees-publique.medicaments.gouv.fr/telechargement.php?fichier=CIS_InfoImportantes.txt'
    env(CIM_10_URL): 'https://www.bfs.admin.ch/bfsstatic/dam/assets/15023315/master'
    env(DATABASE_ENGINE): "mysql"
    env(DATABASE_URL): '%env(DATABASE_ENGINE)%://%env(DATABASE_USER)%:%env(DATABASE_PASSWORD)%@%env(DATABASE_HOST)%:%env(DATABASE_PORT)%/%env(DATABASE_NAME)%?serverVersion=13&charset=utf8'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        bind:
            $projectDir: '%kernel.project_dir%'

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
            - '../src/Tests/'

    # controllers are imported separately to make sure services can be injected
    # as action arguments even if you don't extend any base controller class
    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']


    App\Service\FileProcessor:
        arguments:
            $projectDir: '%kernel.project_dir%'

    App\Service\AllergenService:
        arguments:
            $projectDir: '%kernel.project_dir%'

    App\Service\RPPSService:
        arguments:
            $rpps: '%env(RPPS_URL)%'
            $cps: '%env(CPS_URL)%'

    App\Service\DiseaseService:
        arguments:
            $cim10: '%env(CIM_10_URL)%'

    App\Service\DrugService:
        arguments:
            $DRUGS_URL_CIS_BDPM: '%env(DRUGS_URL_CIS_BDPM)%'
            $DRUGS_URL_CIS_CIP_BDPM: '%env(DRUGS_URL_CIS_CIP_BDPM)%'
            $DRUGS_URL_CIS_CPD_BDPM: '%env(DRUGS_URL_CIS_CPD_BDPM)%'
            $DRUGS_URL_CIS_GENER_BDPM: '%env(DRUGS_URL_CIS_GENER_BDPM)%'
            $DRUGS_URL_CIS_InfoImportantes: '%env(DRUGS_URL_CIS_InfoImportantes)%'

    'App\Swagger\SwaggerDecorator':
        decorates: 'api_platform.swagger.normalizer.api_gateway'
        arguments: [ '@App\Swagger\SwaggerDecorator.inner' ]
        autoconfigure: false

    App\Serializer\GroupsContextBuilder:
        decorates: 'api_platform.serializer.context_builder'
        arguments:
            $decorated: '@App\Serializer\GroupsContextBuilder.inner'


    App\Doctrine\EntityListener\ThingListener:
        class: App\Doctrine\EntityListener\ThingListener
        tags:
            - { name: doctrine.event_listener, event: prePersist }


    Sentry\Integration\IgnoreErrorsIntegration:
        arguments:
            $options:
                ignore_exceptions:
                    - Symfony\Component\HttpKernel\Exception\NotFoundHttpException
                    - Symfony\Component\Security\Core\Exception\AuthenticationException
                    - Symfony\Component\Security\Core\Exception\AccessDeniedException
                    - Symfony\Component\HttpKernel\Exception\UnauthorizedHttpException
                    - Symfony\Component\HttpKernel\Exception\BadRequestHttpException
                    - Symfony\Component\HttpKernel\Exception\NotAcceptableHttpException
                    - ApiPlatform\Core\Bridge\Symfony\Validator\Exception\ValidationException
                    - ApiPlatform\Core\Exception\ItemNotFoundException
                    - ReflectionException
