name: Deploy Staging

env:
  ENVIRONMENT: 'staging'
  IMAGE_NAME: ${{ github.repository }}

on:
  push:
    branches:
      - staging
      - feature/docker
  workflow_dispatch:

concurrency:
  group: staging-release-${{ github.ref }}-1
  cancel-in-progress: true


jobs:
  docker-build-base:
    name: Build Staging Image
    runs-on: ubuntu-latest
    environment:
      name: staging
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build staging image
        uses: ./.github/actions/build-docker-image
        with:
          registry_username: ${{ github.actor }}
          registry_password: ${{ secrets.GITHUB_TOKEN }}
          docker_image: ${{ env.IMAGE_NAME }}-base
          docker_file: "base"
          docker_tag: ${{ env.ENVIRONMENT }}

  docker-build-staging:
    name: Build Staging Image
    runs-on: ubuntu-latest
    needs: docker-build-base
    environment:
      name: staging
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build staging image
        uses: ./.github/actions/build-docker-image
        with:
          registry_username: ${{ github.actor }}
          registry_password: ${{ secrets.GITHUB_TOKEN }}
          docker_image: ${{ env.IMAGE_NAME }}
          docker_file: ${{ env.ENVIRONMENT }}
          docker_tag: ${{ env.ENVIRONMENT }}
