name: Deploy Staging

env:
  ENVIRONMENT: 'staging'
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

on:
  push:
    branches:
      - staging
      - feature/docker
  workflow_dispatch:

concurrency:
  group: ci-tests-${{ github.ref }}-1
  cancel-in-progress: true


jobs:
  docker-build:
    runs-on: ubuntu-latest
    environment:
      name: test
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build staging image
        uses: ./.github/actions/build-docker-image
        with:
          registry_url: ${{ env.REGISTRY }}
          registry_username: ${{ github.actor }}
          registry_password: ${{ secrets.GITHUB_TOKEN }}
          docker_image: ${{ env.IMAGE_NAME }}
